div {
    border: 1px solid black;
    text-align: center;
    height: 100px;
    margin-bottom: 10px;

}
.Satu {
    background-color: green;
}
.Dua {
    background-color: yellow;
    position: absolute;
    width: 20%;

}
.Tiga {
    background-color: orange;
    width: 75%;
    margin-left: auto;
}
.Empat {
    background-color: yellow;
    position: absolute;
    width: 20%;
}
.Lima {
    background-color: aqua;
    width: 75%;
    margin-left: auto;
}




