form {
    width: 300px;
    margin: 20vh auto 0 auto;
    padding: 20px;
    background: rgb(14,73,134);
    background: linear-gradient(0deg, rgba(14,73,134,1) 0%, rgba(25,102,175,1) 7%, rgba(87,194,246,1) 100%);
    border-radius: 4px;
    font-size: 12px;
}
h1 {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

p {
    color: red;
    float: left;
    margin-left: 1.5em;
}

.flex {
    display: flex;
    justify-content: space-between;
}

